{% extends 'base.html' %}
{% block page_title %}
    Training
{% endblock page_title %}
{% block alternative_h1 %}
    <h1>Train the machine</h1>
{% endblock alternative_h1 %}
{% block alternative_p %}
{% endblock alternative_p %}
{% block alternative_body %} 
    <div class="form_predict">
        <form id="myForm" method="POST">
            <div class="mb-3">
                <label for="max_depth" class="form-label">Max depth</label>
                <input type="text" class="form-control" name="max_depth" required>
            </div>
            <div class="mb-3">
                <label for="test_size" class="form-label">Test size</label>
                <input type="text" class="form-control" name="test_size" required>
            </div>
            <div class="mb-3">
                <label for="random_states" class="form-label">Random States</label>
                <input type="text" class="form-control" name="random_states" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Train</button>
        </form>
        <div class="d-flex align-items-center m-2 invisible" id="loading">
            <strong role="status">Training...</strong>
            <div class="spinner-border ms-auto" aria-hidden="true"></div>
        </div>
        <div id="error-message" class="alert alert-danger mt-2" role="alert" style="display: none;">
            Ocorreu um erro ao enviar o formulário. Tente novamente.
        </div>
    </div>
{% endblock alternative_body %}
